<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display Webpage</h1>
        <table border="3px">
            <tr>
                <th>pk value</th>
                <th>Topic_name</th>
                <th>Name</th>
                <th>URL</th>
                <th>EMAIL</th>
            </tr>
        {% for WO in webpage %}
            <tr>
                <td>{{WO.pk}}</td>
                <td>{{WO.topic_name}}</td>
                <td>{{WO.name}}</td>
                <td>{{WO.url}}</td>
                <td>{{WO.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>